.home_section{
    background: var(--hero-bg);
}

.home_section h2{
    color: var(--primary-color);
    font-size: 2.5rem ;
    font-weight: 600;
    margin: 20px 0px;
}

.home_section p{
    color: black ;
    font-size: 20px;
}

.home_content{
    padding-top: 60px;
}
.product_title{
    height: 70px;
}
.buy_btn{
    border: none;
    outline: none;
    padding: 8px 20px;
    border-radius: 5px;
    background: var(--primary-color);
    color: white;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 30px;
}
.section_title{
    height: 70px;
}

.buy_btn a:hover{
    color: white;
}

.home_img img{
    width: 100%;
    height: 400px;
    align-items: center;
}

.timer_count{
    background: burlywood;
    height: 22rem;
}

.timer_count img{
    width: 80% !important;
    height: 50% !important;
}

.event_content h2{
    font-size: 50px;
    margin-bottom: 20px;
}
.event_content p{
    color: black;
}

.join_btn{
    border: none;
    outline: none;
    padding: 8px 20px;
    border-radius: 5px;
    background: var(--primary-color);
    color: white;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 1px;
    align-items: center;
}

.join_btn a:hover{
    color: white;
}


