.footer{
    /* position:absolute; */
    bottom: 0;
    padding-top: 20px;
    height: auto;
    width: 100vw;
    /* padding-bottom: 30px; */
    background: bisque;
}

.footer_text{
    line-height: 20px;
}

.footer_contact li span{
    font-size: 1.5rem;
}

.footer_copyright{
    color: black;
    font-style: 0.9rem;
    margin-top: 40px;
    text-align: center;
}