.footer{
    bottom: 0;
    padding-top: 20px;
    height: auto;
    width: 100%;
    padding-bottom: 43px;
    background: bisque;
    min-height:50px;
}

.footer_text{
    line-height: 20px;
}

.footer_contact li span{
    font-size: 1.5rem;
}

.footer_copyright{
    color: black;
    font-style: 0.9rem;
    margin-top: 40px;
    text-align: center;
}